"*":
  Zen:
    width: 100
  "atom-ternjs":
    documentation: false
    guess: false
    inlineFnCompletion: false
    lint: false
    urls: false
    useSnippets: false
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-snippets"
      "language-gfm"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    autoIndentOnPaste: false
    fontFamily: "'FiraCode-Retina', 'SF Mono', Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "44fd5f6f-7665-42b3-8855-24c5dde06098"
  "git-log":
    fontScale: 0.9
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 129
    panelRepresents: "Entire Project"
  "markdown-preview": {}
  minimap:
    plugins:
      bookmarks: true
      codeglance: true
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    tabSizing: "Even"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  "tree-view": {}
  welcome:
    showOnStartup: false
