"*":
  Zen:
    width: 100
  "atom-ternjs":
    documentation: false
    guess: false
    inlineFnCompletion: false
    lint: false
    urls: false
    useSnippets: false
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "autocomplete-atom-api"
      "autocomplete-snippets"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "git-log":
    fontScale: 0.9
  linter:
    errorPanelHeight: 22
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    useGlobalEslint: true
  "markdown-preview": {}
  minimap:
    plugins:
      bookmarks: true
      codeglance: true
      "find-and-replace": true
      "git-diff": true
      selection: true
  "one-dark-ui":
    tabSizing: "Even"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "theme-switcher":
    syntaxThemeOne: "one-dark-syntax"
    syntaxThemeTwo: "one-light-syntax"
  "tree-view": {}
  welcome:
    showOnStartup: false
